{% raw %}
{% capture sitebuilder_uniq_component_id %}sitegurus_component_{% increment sitegurus_gen_uniq_component_id %}{% endcapture %}
<footer class="bg-color-3 pb-2">
	<div class="container-fluid color-1-text-all p-5">
		<div class="row text-start align-items-center">
			<div class="col-8">
				<div>
					<p class="mb-0 font-size-20 pb-4">&copy; {{context.exports.company_information.properties.company_name}} {{ "now" | date: "%Y"}}
					</p>
				</div>
				<div class="section-icon" style="display: inline-block;">
					<a class="icon-button" href="{{ context.exports.company_information.properties.instagram_account }}">
						<span>
							<i class="fab fa-instagram" style="font-size: 40px; color: white;"></i>
						</span>
					</a>
				</div>
			</div>
			<div class="col-4 text-end pt-3">
				<img src="{{ context.exports.company_information.properties.logo_white | asset_url }}" class="img-fluid img-container-height-lg">
			</div>
		</div>
	</div>
</footer>
{% endraw %}