{% raw %}
	<div class="medium-banner-responsive background-banner">
		<img class="img-fluid img-banner" src="{{ field_map['Banner_1'] | asset_url }}">
		<div class="banner-backdrop">
		</div>
		<div class="container main-banner-content color-1-text-all fit-height-container pt-5 pb-5 pt-lg-0 pb-lg-0">
			<div class="row justify-content-center align-content-center text-center fit-height-container">
				<div class="col-12 pb-2">
					<div>
						<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, porro?</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endraw %}