<section id="home-horizontal-cards">
	<div class="pb-5 pt-5 color-2-text-all">
		<div class="container pt-4 pb-4">
			<div class="row justify-content-center">
				<div class="col-12 pb-5">
					<div class="card">
						<div class="row">
							<div class="col-6 d-none d-lg-block">
								<img src="https://www.vieribottazzini.com/wp-content/uploads/X1DII1_00190_slide.jpg" class="img-fluid">
							</div>
							<div class="col-12 col-lg-6 align-self-center">
								<div class="card-body">
									<h3 class="card-title pb-2">Book a function</h3>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias minus iste quo facilis consequuntur maiores eum sed optio, inventore fugiat.</p>
									<a class="link-button-dark" href="/book-a-function"><b>Book now ></b></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="card">
						<div class="row">
							<div class="col-12 col-lg-6 align-self-center">
								<div class="card-body">
									<h3 class="card-title pb-2">FVBSC Memberships</h3>
									<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis libero quam repellendus ipsum? Fuga nulla, consequuntur saepe fugiat ratione architecto!</p>
									<a class="link-button-dark" href="/memberships"><b>Learn More ></b></a>
								</div>
							</div>
							<div class="col-6 d-none d-lg-block">
								<img src="https://cdn.esawebb.org/archives/images/screen/carinanebula3.jpg" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>