<section id="memberships-section" class="pt-3 pb-5">
	<div class="container bg-color-6 mb-4 pb-3">
		<div class="row">
			<div class="col-12">
				<div class="container p-3 p-lg-5">
					<div class="row justify-content-center">
						<div class="col-12 pb-4">
							<h2 class="color-2-text">Memberships</h2>
						</div>
						<div class="col-12 pb-4">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolore rerum excepturi ipsa aliquid voluptate voluptatem iure earum odio. Dicta consectetur sunt molestias voluptatem similique aspernatur illum quibusdam quis doloribus culpa quidem beatae omnis quisquam sed, iste facilis perspiciatis commodi magnam! Totam laboriosam repudiandae ipsum magnam at atque voluptatem? Tenetur nam qui voluptate? Ducimus at sit quo placeat veniam repudiandae earum ea consectetur aspernatur impedit quod saepe rerum molestias, aperiam minima, consequatur ipsum unde, adipisci cupiditate fugiat nulla nemo. Quos quis nesciunt non totam placeat molestias vel atque! Non asperiores ad qui, corporis amet dolorum, maiores nesciunt quia velit exercitationem in itaque quisquam optio, eligendi suscipit totam cum ipsum libero odio ducimus consectetur! Error incidunt alias est totam nam! Necessitatibus commodi aspernatur tempore nostrum? Cum blanditiis consectetur dolores aspernatur exercitationem, optio sed, eaque officiis ratione, harum sint obcaecati ea minima!</p>
						</div>
						<div class="col-12 col-lg-4 pe-3 color-1-text-all">
							<div class="mosaic-image" style="background-image: url('https://www.vieribottazzini.com/wp-content/uploads/X1DII1_00190_slide.jpg')">
								<div class="mosaic-backdrop"></div>
								<a href="/memberships#memberships-levels">
								  <div class="container mosaic-content">
									<div class="row align-content-center">
									  <div class="col-12 p-3">
										<h3 class="no-text-transform medium-weight ">Maroon ></h3>
										<p style="font-size: 16px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dicta sunt iste eligendi minima. Quaerat, est ipsum, sequi laborum dicta inventore quas officiis dignissimos assumenda adipisci eaque iusto voluptates veritatis minima rem laudantium.</p>
									  </div>
									</div>
								  </div>
								</a>
							  </div>
						</div>
						<div class="col-12 col-lg-4 pe-3 color-1-text-all">
							<div class="mosaic-image" style="background-image: url('https://cdn.esawebb.org/archives/images/screen/carinanebula3.jpg')">
								<div class="mosaic-backdrop"></div>
								<a href="/memberships#memberships-levels">
								  <div class="container mosaic-content">
									<div class="row align-content-center">
									  <div class="col-12 p-3">
										<h3 class="no-text-transform medium-weight ">Gold Pennant ></h3>
										<p style="font-size: 16px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dicta sunt iste eligendi minima. Quaerat, est ipsum, sequi laborum dicta inventore quas officiis dignissimos assumenda adipisci eaque iusto voluptates veritatis minima rem laudantium.</p>
									  </div>
									</div>
								  </div>
								</a>
							  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>