{% raw %}
<section id="services-main-banner">
  <div class="large-banner-responsive background-banner">
    <img class="img-fluid img-banner" src="https://uploads.prod01.sydney.platformos.com/instances/570/assets/images/desktop/home/banner_1.jpeg">
    <div class="banner-backdrop">
    </div>
    <div class="container main-banner-content color-1-text-all fit-height-container pt-5 pb-5 pt-lg-0 pb-lg-0">
      <div class="row align-content-center fit-height-container">
        <div class="col-12 pb-3">
          <div>
            <h1 class="banner-text">Specialist, pragmatic,
              <br>
              tailored family law advice
              <br>
              and representation
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endraw %}