{% raw %}
<section id="datadog-banner">
	<div class="large-banner-responsive background-banner">
		<img class="img-fluid img-banner" src="https://uploads.prod01.sydney.platformos.com/instances/471/assets/images/desktop/datadog/111A0005.jpg">
		<div class="banner-backdrop"></div>
		<div class="container main-banner-content fit-height-container pt-5 pb-5 pt-lg-0 pb-lg-0">
			<div class="row justify-content-center align-content-center text-center fit-height-container">
				<div class="col-12 pt-3">
					<div class="pt-3">
						<h3 class="lh-base">We are proud to announce our partnership with Datadog, a leading monitoring and analytics platform. This collaboration allows us to deliver unparalleled services to our clients, empowering them with cutting-edge solutions for enhanced performance and efficiency</h3>
					</div>
				</div>
				<div class="down-button-wrapper d-lg-block d-none mt-5">
					<a href="#datadog-info" class="down-button-inner mt-0 mb-0 ms-auto me-auto">
						<i class="fas fa-chevron-down bounce"></i>
					</a>
				</div>
				<div class="down-button-wrapper d-lg-none mt-5">
					<a href="#datadog-info" class="down-button-inner-mobile mt-0 mb-0 ms-auto me-auto">
						<i class="fas fa-chevron-down bounce"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endraw %}