{% raw %}
	<div class="medium-banner-responsive background-banner">
		<img class="img-fluid img-banner" src="{{ field_map['Banner_2'] | asset_url }}">
		<div class="banner-backdrop">
		</div>
		<div class="container main-banner-content color-1-text-all fit-height-container pt-5 pb-5 pt-lg-0 pb-lg-0">
			<div class="row justify-content-center align-content-center text-center fit-height-container">
				<div class="col-12 pb-2">
					<div>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, expedita sit sequi sapiente repellendus pariatur. Officiis deserunt aspernatur eaque necessitatibus at nihil excepturi corporis quia veniam, laboriosam cumque libero dignissimos tempore! Qui expedita ex, earum facilis cupiditate consequatur ea dignissimos!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endraw %}